@using Kutuphane.Models.Entity
@model List<Duyurular>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}


<h2>Duyurular</h2>

<table class="table table-bordered">
    <tr>
        <th>Kategori</th>
        <th>Tarih</th>
        <th>İçerik</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Kategori</td>
            <td>@Convert.ToDateTime(item.Tarih).ToString("dd/MM/yyyy")</td>
            <td>@item.Icerik</td>
        </tr>
    }
</table>
