@using Kutuphane.Models.Entity
@model List<Hareket>
@{
    ViewBag.Title = "Kitaplarim";
    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";
}
<br />
<h2>Kitap Geçmişim</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Kitap Adı</th>
        <th>Alış Tarihi</th>
        <th>Üye İade Tarihi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Kitap1.Ad</td>
            <td>@Convert.ToDateTime(item.AlisTarih).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(item.UyeGetirTarih).ToString("dd/MM/yyyy")</td>            
        </tr>
    }
</table>

