@model Kutuphane.Models.Entity.Duyurular
@{
    ViewBag.Title = "YeniDuyuru";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div></div>
    <div style="margin-top:15px">
        <label>Duyuru Başlığı</label>
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Duyuru İçeriği</label>
        @Html.TextBoxFor(x => x.Icerik, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Duyuru Tarihi</label>
        @Html.TextBoxFor(x => x.Tarih, "{0: dd.MM.yyyy}", new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Duyuru Ekle</button>
    </div>
</form>

